header{
      background-image: url('https://arb.umn.edu/sites/arb.umn.edu/files/2023-08/webpage_header_images_4.jpg');
      height: 395px;
      width: 100%;
}
.principal{
      position: absolute;
      margin-top: 160px;
}

